{% extends "base.html" %}
{% block principal  %}
<div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/19010243/pexels-photo-19010243/free-photo-of-nieve-amanecer-paisaje-puesta-de-sol.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Inicio </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/19010243/pexels-photo-19010243/free-photo-of-nieve-amanecer-paisaje-puesta-de-sol.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Inicio </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/19010243/pexels-photo-19010243/free-photo-of-nieve-amanecer-paisaje-puesta-de-sol.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Inicio </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{% endblock  %}